<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tiffany.phippy">

    <uses-permission android:name="android.permission.INTERNET"/>
    <!--添加打电话的权限-->
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <!--添加发送短信的权限-->
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:name=".PHIApplication">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".life.xiaoniangzi.MedicineListActivity">
            <intent-filter>
                <action android:name="android.intent.action.Medicine" />
            </intent-filter>
        </activity>

        <activity android:name=".food.detail.FoodDetailActivity" />
        <activity android:name=".food.FoodRecActivity" />
        <activity android:name=".life.xiaoniangzi.MedicineActivity" />
        <activity android:name=".life.visa.VisaActivity" />
        <activity android:name=".tour.TourRecActivity" />
        <activity android:name=".base.db.DBDebugActivity" />
        <activity android:name=".me.SettingActivity"/>
        <activity android:name=".me.myOrder.MyOrderActivity"/>

        <activity android:name=".base.LoginActivity"/>
        <activity android:name=".base.RegisterActivity"/>
        <activity android:name=".base.ShowAddressActivity"
            android:launchMode="singleTask" android:screenOrientation="landscape">
            </activity>
    </application>

</manifest>